<nav id="bar">
  <ul>
    <li><a class="nav-link grey" href="http://wiztr.com/">Wiztr</a></li>
    <li><a class="nav-link orange" href="http://wiztr.com/blog">Blog</a></li>
    <li><a class="nav-link purple" href="http://community.wiztr.com">Forums</a></li>
    <li><a class="nav-link blue" href="#">API</a></li>
    <li><a class="nav-link green" href="https://twitter.com/getwiztr" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a class="nav-link yellow" href="https://facebook.com/wiztr" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
  </ul>
</nav>
